<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>896915315280-q90ka935rp07u5q2s18ulf4j72ve7tsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896915315280-q90ka935rp07u5q2s18ulf4j72ve7tsq</string>
	<key>API_KEY</key>
	<string>AIzaSyCju3T5M5n7AGWlalwmkWupAvv7Xk0d9cI</string>
	<key>GCM_SENDER_ID</key>
	<string>896915315280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.flights</string>
	<key>PROJECT_ID</key>
	<string>ryanair-hackathon2017</string>
	<key>STORAGE_BUCKET</key>
	<string>ryanair-hackathon2017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:896915315280:ios:fd3de30409d1c3ea</string>
	<key>DATABASE_URL</key>
	<string>https://ryanair-hackathon2017.firebaseio.com</string>
</dict>
</plist>