<ActionBar title="Page1">
    <ActionItem text="Page2" ios.position="right" (tap)="navigateToPage2()"></ActionItem>
</ActionBar>
<ListView [items]="backendService.flights | async">
    <template let-item="item">
        <GridLayout columns="*, auto" class="container">
            <!-- Wrap in containers for bigger tap targets -->
            <StackLayout col="0" orientation="horizontal" class="tap-target">
                <Label [text]="item.outbound.destination"></Label>
            </StackLayout>
        </GridLayout>
    </template>
</ListView>