ActionBar {
    background-color: #062B71;
    color: white;
}

.cardStyle {
    background-color: #073590;
}

.centering {
    left: -500px;
    position: absolute;
}

.text-card {
    margin-left: 10px;
    margin-right: 10px;
}

.hover-img {
    font-size: 22px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.card {
    height: 50px;
}

label {
    horizontal-align: center;
}

.paginator {
    color: #2091EB;
}

.info {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
}

.yellow {
    background-color: #F1C933;
}

.black-text {
    color: #2E2E2E;
}

.my-city {
    font-weight: bold;
}